<div class="grid-item">
    <div class="card hoverable">
      {% if member.photo %}
        {% assign photo = member.photo %}
      {% else %}
        {% assign photo = "incognito.png" %}
      {% endif %}
      <img src=" {{ photo | prepend: '/assets/img/' | relative_url }}" alt="member thumbnail">
      <div class="card-body">
        <h2 class="card-title">{{ member.name }}</h2>
        <p class="card-text">{{ member.title }} <a href="mailto:{{ member.email }}"><i class="fas fa-envelope" style='padding-left: 10px;'></i></a></p>

        {% if member.education %}
        <p class="card-text">
          <ul class="edulist">
            {% for ed in member.education %}
              <li> {{ ed }} </li>
            {% endfor %}
          </ul>
        </p>
        {% endif %}
        <p class="card-text">
          {{ member.info | markdownify }}
        </p>
      </div>
    </div>
</div>
