---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
 
//YBS ADDITIONS
 
.card {
  background-color: var(--card-bg-color);
}
#title.card-text {
  color: var(--global-theme-color)
}

// Publications
.pub-title {
  font-weight: 500;
}

.year {
  font-weight: bold;
  margin-left: 5px;
}

.journal {
  font-style: italic
}

#pubbutton {
  padding-top: 3px  ;
  padding-bottom: 3px  ;
  padding-left: 10px  ;
  padding-right: 10px  ;
  border-radius: 20px;
}

// Group
.edulist {
padding-left: 1rem;
}
